---
layout: initiative.njk
title: উৎসবে সবাই
tag: initiatives
date: 2026-03-25
description: Bringing inclusive festive celebrations and smiles to underprivileged children through community engagement and collective youth effort.
featured:
  - /initiatives/utsobe_sobai/2.jpg
images:
  - /initiatives/utsobe_sobai/1.jpg
  - /initiatives/utsobe_sobai/3.jpg
  - /initiatives/utsobe_sobai/4.jpg
  - /initiatives/utsobe_sobai/5.jpg
  - /initiatives/utsobe_sobai/6.jpg
  - /initiatives/utsobe_sobai/7.jpg
  - /initiatives/utsobe_sobai/8.jpg
  - /initiatives/utsobe_sobai/9.jpg
tags: initiatives
---
Bringing joy to approximately 50 children and creating countless smiles, "Utsobe Sobai" stood out as a beacon of inclusivity and community warmth. Organized by the BSCF Youth Network, this initiative was specifically designed to promote a more inclusive Eid celebration for underprivileged children who are often overlooked during major festivities. 

Through dedicated collective efforts, impactful engagement, and structured recreational activities, the program successfully fostered an environment of warmth and belonging. "Utsobe Sobai" underscores the core belief that sustainable social impact is rooted in shared happiness, demonstrating how strategic youth-led volunteerism can bridge emotional gaps and bring meaningful value to marginalized communities.