---
layout: project.njk
title: Astrocamp 2024
date: 
description: Astro Camp 2024 was a transformative event designed to inspire Bangladeshi youth to explore the wonders of astronomy and space science. Held in University of Rajshahi & Novotheator Rajshahi, this camp brought together students, educators, and experts for hands-on workshops, stargazing sessions, and lectures on astrophysics. The initiative aimed to foster scientific curiosity and environmental awareness.

featured:
    - /projects/project1/1.jpg

images:
    - /projects/project1/1.jpg
    - /projects/project1/2.avif
    - /projects/project1/3.jpg
    - /projects/project1/4.jpg
    - /projects/project1/5.jpg
    - /projects/project1/6.jpg
    - /projects/project1/7.jpg
    - /projects/project1/8.jpg

slug: astrocamp2024
permalink: /projects/{{ slug }}/
tags: projects
---
Astro Camp 2024 was a transformative event designed to inspire Bangladeshi youth to explore the wonders of astronomy and space science. Held in University of Rajshahi & Novotheator Rajshahi, this camp brought together students, educators, and experts for hands-on workshops, stargazing sessions, and lectures on astrophysics. The initiative aimed to foster scientific curiosity and environmental awareness.

<p>
    <a href="https://www.bigganchinta.com/events/icpssp58hf">BigganChinta</a> |
    <a href="https://www.bigganchinta.com/events/5awbnfw1ba">BigganChinta</a> |
    <a href="https://www.somoynews.tv/news/2024-05-15/08IDw6uJ">SomoyTV</a> |
    <a href="https://www.youtube.com/watch?v=97FOaIjFZLY&ab_channel=SOMOYTV">SomoyTV Youtube</a> |
    <a href="https://www.facebook.com/watch/?v=474075158393561">SomoyTV Facebook</a> |
    <a href="https://www.newsg24.com/education-news/10300/">Newsg24</a> |
    <a href="https://www.campustimes.press/article/rajshahi-campus/30221">Campus Times</a> |
    <a href="https://www.channelionline.com/ru-2-day-astronomy-camp-starts-friday/">Channel i</a> |
</p>