---
layout: recruitment.njk
title: STEM LEADERS 2025
date:
description: STEM LEADERS 2025
apply_link: https://forms.gle/2o1TqeHGDQeDFkw19

featured:
    - /apply/recruitment1/STEMLEADERS25.jpg

images:
    - /apply/recruitment1/STEMLEADERS25.jpg


slug: stemleaders
permalink: /apply/{{ slug }}/
tags: recruitments
---
BSCF Future STEM Leaders Programme 2025 – Cohort 1 

In collaboration with Rajshahi Novotheatre and sheSTEM, Bangladesh Socio-Cultural Forum (BSCF) is launching an exciting 1-month internship programme for STEM students from 3rd year undergraduate to postgraduate and even recent Master’s graduates.

🎯 90% of the participants will be female students, creating a platform to inspire and empower future women leaders in STEM.

🚀 The programme will include:

Professional journey & leadership sessions

Research methodology & HR management

Hands-on telescope training & innovation workshops

Certificate as Technical Trainee upon successful completion


📌 This is an unpaid opportunity, but a life-changing experience to strengthen your skills, networks, and future career.

🗓 Application Deadline: 11:59PM, 13 September 2025