---
layout: initiative.njk
title: Heritage Hiking 2026
tag: flagship
date: 2026-04-25
description: From exploration to excellence, BSCF Heritage Hiking 2026 brought youth together to uncover Rajshahi’s history, culminating in an inspiring research presentation and grand finale.


featured:
    - /initiatives/heritage_hiking/1.jpg

images:
   
    - /initiatives/heritage_hiking/2.jpg
    - /initiatives/heritage_hiking/3.jpg
    - /initiatives/heritage_hiking/4.jpg
    - /initiatives/heritage_hiking/5.jpg
    - /initiatives/heritage_hiking/6.jpg
    - /initiatives/heritage_hiking/7.jpg
    - /initiatives/heritage_hiking/8.jpg
    - /initiatives/heritage_hiking/9.jpg
    

tags: initiatives
---
Exploring roots through every step. 

The journey into heritage successfully concluded with the Closing & Prize Giving Ceremony of Heritage Hiking 26, organized by the Bangladesh Socio-Cultural Forum (BSCF) in collaboration with the BSCF Youth Network. Centered around the Varendra Research Museum and nearby historical landmarks, this week-long initiative brought enthusiastic youth together to explore, document, and share Rajshahi’s rich, untold stories. 

The program kicked off with an inspiring opening ceremony graced by Md. Aslam Reza, Deputy Librarian of Varendra Research Museum, alongside Niloy Saha Nill, CEO of BSCF. Throughout the immersive week, participants hiked across Rajshahi, collected valuable data, created meaningful content, and engaged in deep research to uncover the region's cultural identity and history. 

The grand finale began with welcome speeches from Redwan Ahmed, Convener of Heritage Hiking, and Talha Zubayer, Co-Convener of Heritage Hiking. The ceremony was chaired by Niloy Saha Nill and honored by Dr. Kazi M. Mostafizur Rahman, Director of Varendra Research Museum, as Chief Guest. Alongside Special Guests Md. Aslam Reza and Abul Kalam Muhammad Azad (Staff Correspondent, Rajshahi of Prothom Alo), the event welcomed Nafis Raihan Pial (CMO of Chorcha) and filmmaker Rahi Abdullah, who evaluated the presentations as members of the jury board.

At the end of this inspiring journey of research and storytelling, Team Shekor Jatra emerged as the Champion. Echoes of Varendra secured the position of 1st Runner-Up, while Team Chander Hashuli and Team Bagha Legacy jointly claimed the 2nd Runner-Up spot. More than just a hiking experience, Heritage Hiking 26 became a powerful journey of discovering history, identity, and culture through leadership, creativity, and collective youth effort.